<!--<div class="cotizacion">
    <mat-card>Cotizacion {{id}} - {{status}}</mat-card>
</div>-->
<div id="entidad" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon>assignment</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <!--<div class="h2" *ngIf="pageType ==='edit'">
                        {{entidad.nombre}}
                    </div>-->
                    <div class="h2">
                        Oportunidad {{status}}
                    </div>
                    <!--<div class="subtitle secondary-text">
                        <span>Oportunidad {{status}}</span>
                    </div>-->
                </div>
            </div>
            <!-- / APP TITLE -->
            <!--<div fxLayout="row" fxLayoutAlign="end">
                &lt;!&ndash;<button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        [disabled]="entidadForm.invalid"
                        *ngIf="pageType ==='new'" (click)="addEntidad()">
                    <span>Agregar</span>
                </button>

                <button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        [disabled]="entidadForm.invalid || entidadForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="saveEntidad()">
                    <span>Guardar</span>
                </button>

                <button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        *ngIf="pageType ==='edit'" (click)="removeEntidad()">
                    <span>Borrar</span>
                </button>&ndash;&gt;
            </div>-->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                <form *ngIf="entidadForm" name="entidadForm" [formGroup]="entidadForm" class="entidad w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Informacion {{status}}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="section pb-48">
                                    <div class="customer mb-32">
                                        <table class="simple">
                                        <tbody>
                                        <tr>
                                            <td width="40%">
                                                <span><img style="width: 150px" src="assets/images/jumbo/logo/LOGO_JUMBO.jpg"></span>
                                            </td>
                                            <td width="30%">
                                                <span>Cotizacion de Servicios Turisticos</span>
                                            </td>
                                            <td width="30%">
                                                <span>VJ{{entidad.idQuote}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    </div>
                                </div>
                                <!-- informacion de asesor -->
                                <mat-form-field class="w-20-p">
                                    <input matInput formControlName="fechaElaboracion" [matDatepicker]="fechaElaboracion" placeholder="Fecha De Elaboracion">
                                    <mat-datepicker-toggle matSuffix [for]="fechaElaboracion"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaElaboracion></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="w-40-p">
                                    <input matInput
                                           name="asesor"
                                           formControlName="asesor"
                                           placeholder="Asesor"
                                           readonly
                                           >
                                    <!--required<mat-error *ngIf="entidadForm.get('asesor').hasError('required')">
                                        Se requiere el nombre del Asesor
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-40-p">
                                    <input matInput
                                           name="oficina"
                                           formControlName="oficina"
                                           placeholder="Oficina"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('oficina').hasError('required')">
                                        Se requiere el nombre de la Oficina
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="telefono"
                                           formControlName="telefono"
                                           placeholder="Telefono"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           type="email"
                                           name="emailAsesor"
                                           formControlName="emailAsesor"
                                           placeholder="Email del Asesor"
                                    >
                                    <mat-error *ngIf="entidadForm.get('emailAsesor').hasError('email')">
                                        la info debe ser tipo e-mail
                                    </mat-error>
                                </mat-form-field>

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Informacion del Cliente</div>
                                </div>

                                <!-- Informacion del usuario -->
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="nombreCliente"
                                           formControlName="nombreCliente"
                                           placeholder="Nombre del Cliente"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="telefonoCliente"
                                           formControlName="telefonoCliente"
                                           placeholder="Telefono del Cliente"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           type="email"
                                           name="emailCliente"
                                           formControlName="emailCliente"
                                           placeholder="Email del Cliente"
                                    >
                                    <mat-error *ngIf="entidadForm.get('emailCliente').hasError('email')">
                                        la info debe ser tipo e-mail
                                    </mat-error>
                                </mat-form-field>
                                <mat-checkbox class="w-100-p"
                                              name="autorizaPublicidad"
                                              formControlName="autorizaPublicidad"
                                >
                                    Autoriza envio de Publicidad
                                </mat-checkbox>

                                <div style="width: 100%;">
                                    <label class="w-25-p">Estado de salud</label>
                                    <mat-checkbox class="w-25-p"
                                                  name="cirugia"
                                                  formControlName="cirugia"
                                    >
                                        Cirugia
                                    </mat-checkbox>
                                    <mat-checkbox class="w-25-p"
                                                  name="embarazo"
                                                  formControlName="embarazo"
                                    >
                                        Embarazo
                                    </mat-checkbox>
                                    <mat-form-field class="w-25-p">
                                        <input matInput
                                               name="otro"
                                               formControlName="otro"
                                               placeholder="Otro"
                                        >
                                        <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                            Se requiere Telefono
                                        </mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Informacion {{status | uppercase }}</div>
                                </div>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="destino"
                                           formControlName="destino"
                                           placeholder="Destino"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="tipoCotizacion"
                                           formControlName="tipoCotizacion"
                                           placeholder="Tipo de Cotizacion"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hoteles">
                            <div class="section pb-48 w-100-p">
                                <form class="update-status p-24"
                                      (ngSubmit)="updateHoteles()"
                                      [formGroup]="hotelesForm"
                                      fxLayout="row" fxLayoutAlign="start center">

                                    <mat-form-field appearance="outline" class="mr-16 w-70-p" fxFlex>
                                        <mat-label>Seleccionar Hotel</mat-label>
                                        <mat-select formControlName="hotel" required>
                                            <mat-option *ngFor="let hab of getHoteles()"
                                                        [value]="hab._id">
                                                {{hab.nombre}} - Segmento: {{hab.segmeto}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button mat-raised-button class="mat-accent w-30-p"
                                            [disabled]="hotelesForm.invalid">
                                        Agregar Hotel
                                    </button>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
        </div>
        <!-- CONTENT CARD -->
    </div>
    <!-- CENTER -->
</div>
