<!--<div class="cotizacion">
    <mat-card>Cotizacion {{id}} - {{status}}</mat-card>
</div>-->
<div id="entidad" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon>assignment</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <!--<div class="h2" *ngIf="pageType ==='edit'">
                        {{entidad.nombre}}
                    </div>-->
                    <div class="h2">
                        Oportunidad {{status}}
                    </div>
                    <!--<div class="subtitle secondary-text">
                        <span>Oportunidad {{status}}</span>
                    </div>-->
                </div>
            </div>
            <!-- / APP TITLE -->
            <!--<div fxLayout="row" fxLayoutAlign="end">
                &lt;!&ndash;<button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        [disabled]="entidadForm.invalid"
                        *ngIf="pageType ==='new'" (click)="addEntidad()">
                    <span>Agregar</span>
                </button>

                <button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        [disabled]="entidadForm.invalid || entidadForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="saveEntidad()">
                    <span>Guardar</span>
                </button>

                <button mat-raised-button
                        class="save-entidad-button mat-white-bg"
                        *ngIf="pageType ==='edit'" (click)="removeEntidad()">
                    <span>Borrar</span>
                </button>&ndash;&gt;
            </div>-->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                <form *ngIf="entidadForm" name="entidadForm" [formGroup]="entidadForm" class="entidad w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Informacion {{status}}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="section pb-48">
                                    <div class="customer mb-32">
                                        <table class="simple">
                                        <tbody>
                                        <tr>
                                            <td width="40%">
                                                <span><img style="width: 150px" src="assets/images/jumbo/logo/LOGO_JUMBO.jpg"></span>
                                            </td>
                                            <td width="30%">
                                                <span>Cotizacion de Servicios Turisticos</span>
                                            </td>
                                            <td width="30%">
                                                <span>VJ{{entidad.idQuote}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    </div>
                                </div>
                                <!-- informacion de asesor -->
                                <mat-form-field class="w-20-p">
                                    <input matInput formControlName="fechaElaboracion" [matDatepicker]="fechaElaboracion" placeholder="Fecha De Elaboracion">
                                    <mat-datepicker-toggle matSuffix [for]="fechaElaboracion"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaElaboracion></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="w-40-p">
                                    <input matInput
                                           name="asesor"
                                           formControlName="asesor"
                                           placeholder="Asesor"
                                           readonly
                                           >
                                    <!--required<mat-error *ngIf="entidadForm.get('asesor').hasError('required')">
                                        Se requiere el nombre del Asesor
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-40-p">
                                    <input matInput
                                           name="oficina"
                                           formControlName="oficina"
                                           placeholder="Oficina"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('oficina').hasError('required')">
                                        Se requiere el nombre de la Oficina
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="telefono"
                                           formControlName="telefono"
                                           placeholder="Telefono"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           type="email"
                                           name="emailAsesor"
                                           formControlName="emailAsesor"
                                           placeholder="Email del Asesor"
                                    >
                                    <mat-error *ngIf="entidadForm.get('emailAsesor').hasError('email')">
                                        la info debe ser tipo e-mail
                                    </mat-error>
                                </mat-form-field>

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Informacion del Cliente</div>
                                </div>

                                <!-- Informacion del usuario -->
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="nombreCliente"
                                           formControlName="nombreCliente"
                                           placeholder="Nombre del Cliente"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="telefonoCliente"
                                           formControlName="telefonoCliente"
                                           placeholder="Telefono del Cliente"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           type="email"
                                           name="emailCliente"
                                           formControlName="emailCliente"
                                           placeholder="Email del Cliente"
                                    >
                                    <mat-error *ngIf="entidadForm.get('emailCliente').hasError('email')">
                                        la info debe ser tipo e-mail
                                    </mat-error>
                                </mat-form-field>
                                <mat-checkbox class="w-100-p"
                                              name="autorizaPublicidad"
                                              formControlName="autorizaPublicidad"
                                >
                                    Autoriza envio de Publicidad
                                </mat-checkbox>

                                <div style="width: 100%;">
                                    <label class="w-25-p">Estado de salud</label>
                                    <mat-checkbox class="w-25-p"
                                                  name="cirugia"
                                                  formControlName="cirugia"
                                    >
                                        Cirugia
                                    </mat-checkbox>
                                    <mat-checkbox class="w-25-p"
                                                  name="embarazo"
                                                  formControlName="embarazo"
                                    >
                                        Embarazo
                                    </mat-checkbox>
                                    <mat-form-field class="w-25-p">
                                        <input matInput
                                               name="otro"
                                               formControlName="otro"
                                               placeholder="Otro"
                                        >
                                        <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                            Se requiere Telefono
                                        </mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Informacion {{status | uppercase }}</div>
                                </div>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="destino"
                                           formControlName="destino"
                                           placeholder="Destino"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <input matInput
                                           name="tipoCotizacion"
                                           formControlName="tipoCotizacion"
                                           placeholder="Tipo de Cotizacion"
                                    >
                                    <!--required<mat-error *ngIf="entidadForm.get('telefono').hasError('required')">
                                        Se requiere Telefono
                                    </mat-error>-->
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hoteles">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="section pb-48 w-100-p">
                                    <form class="update-status p-24"
                                          (ngSubmit)="updateHoteles()"
                                          [formGroup]="hotelesForm"
                                          fxLayout="row" fxLayoutAlign="start center">

                                        <mat-form-field appearance="outline" class="mr-16 w-70-p" fxFlex>
                                            <mat-label>Seleccionar Hotel</mat-label>
                                            <mat-select formControlName="hotel" required >
                                                <mat-option *ngFor="let hot of getHoteles()"
                                                            [value]="hot.idHotel">
                                                    {{hot.nombre}} - Segmento: {{hot.hotel.segmetohotel}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <button mat-raised-button class="mat-accent w-30-p"
                                                [disabled]="hotelesForm.invalid || entidadForm.get('hoteles').value.length >= 3">
                                            Agregar Hotel
                                        </button>
                                    </form>

                                    <div class="w-100-p" [formArrayName]="'hoteles'"
                                         *ngFor="let hotelarr of hotelesFormArray.controls; let l = index;">
                                        <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                            <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                            <div class="h2 secondary-text">Hotel {{l+1}}: {{hotelarr.get('nombre').value}}</div>
                                        </div>
                                        <div [formGroupName]="l">
                                            <div class="customer mb-32">
                                                <table class="simple">
                                                    <thead>
                                                    <tr>
                                                        <th>Categoria</th>
                                                        <th>Fecha In</th>
                                                        <th>Fecha Out</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="email text-truncate">{{hotelarr.get('categoria').value}}</span>
                                                        </td>
                                                        <td>
                                                        <span class="company text-truncate">
                                                            <mat-form-field class="w-40-p">
                                                                <input matInput formControlName="fechaIn" [matDatepicker]="fechaIn" placeholder="Fecha In">
                                                                <mat-datepicker-toggle matSuffix [for]="fechaIn"></mat-datepicker-toggle>
                                                                <mat-datepicker #fechaIn></mat-datepicker>
                                                            </mat-form-field>
                                                        </span>
                                                        </td>
                                                        <td>
                                                        <span class="company text-truncate">
                                                            <mat-form-field class="w-40-p">
                                                                <input matInput formControlName="fechaOut" [matDatepicker]="fechaOut" placeholder="Fecha Out">
                                                                <mat-datepicker-toggle matSuffix [for]="fechaOut"></mat-datepicker-toggle>
                                                                <mat-datepicker #fechaOut></mat-datepicker>
                                                            </mat-form-field>
                                                        </span>
                                                        </td>
                                                        <td>
                                                        <span class="w-20-p">
                                                            <button mat-button (click)="removeHotel(l)">
                                                                Borrar Hotel
                                                            </button>
                                                        </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <h4>Descripcion Hotel</h4>
                                                            <p>{{hotelarr.get('descripcion').value}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="hotelarr.get('img').value.length > 0">
                                                        <td colspan="4">
                                                            <div fxLayout="row wrap" fxLayoutAlign="start start">

                                                                <div *ngFor="let image of hotelarr.get('img').value">
                                                                    <div
                                                                        class="product-image" fxlayout="column inline" fxLayoutAlign="center center">
                                                                        <img class="media" [src]="'data:'+image.type+';base64,'+image.data" style="width: 25vw">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="section pb-48 w-100-p">
                                                                <form class="update-status p-24"
                                                                      (ngSubmit)="updateHabitaciones(hotelarr.get('idHotel').value, hotelarr)"
                                                                      [formGroup]="habitacionesForm[hotelarr.get('idHotel').value]"
                                                                      fxLayout="row" fxLayoutAlign="start center">

                                                                    <mat-form-field appearance="outline" class="mr-16 w-40-p" fxFlex>
                                                                        <mat-label>Seleccionar Habitacion</mat-label>
                                                                        <mat-select formControlName="habitacion" required>
                                                                            <mat-option *ngFor="let hab of getHabitaciones(hotelarr.get('idHotel').value, hotelarr)"
                                                                                        [value]="hab._id">
                                                                                {{hab.nombre}} - capacidad: {{hab.capacidad}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="w-10-p">
                                                                        <input matInput
                                                                               required
                                                                               name="cantidad"
                                                                               type="number"
                                                                               formControlName="cantidad"
                                                                               placeholder="Cantidad"
                                                                        >
                                                                    </mat-form-field>

                                                                    <mat-form-field class="w-20-p">
                                                                        <mat-label>Moneda</mat-label>
                                                                        <mat-select formControlName="moneda" required>
                                                                            <mat-option *ngFor="let ht of monedas"
                                                                                        [value]="ht.id" required>
                                                                                {{ht.currency_code}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="w-10-p">
                                                                        <input matInput
                                                                               required
                                                                               name="costo"
                                                                               type="number"
                                                                               formControlName="costo"
                                                                               placeholder="costo"
                                                                        >
                                                                        <span matPrefix>{{monedaSimbolo(hotelarr.get('idHotel').value)}}</span>
                                                                    </mat-form-field>

                                                                    <button mat-raised-button class="mat-accent w-20-p"
                                                                            [disabled]="habitacionesForm[hotelarr.get('idHotel').value].invalid">
                                                                        Agregar habitacion
                                                                    </button>
                                                                </form>

                                                                <table class="simple w-100-p">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Cantidad</th>
                                                                        <th>Habitacion</th>
                                                                        <th>Capacidad</th>
                                                                        <th>Tipo de Cama</th>
                                                                        <th>Costo</th>
                                                                        <th></th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <ng-container *ngFor="let hab of hotelarr.get('habitaciones').value">
                                                                        <tr>
                                                                            <td>
                                                                            <span class="status h6 p-4">
                                                                                {{hab.cantidad}}
                                                                            </span>
                                                                            </td>
                                                                            <td>
                                                                            <span class="status h6 p-4">
                                                                                {{hab.habitacion.nombre}}
                                                                            </span>
                                                                            </td>
                                                                            <td>
                                                                            <span>
                                                                                {{hab.habitacion.capacidad}}
                                                                            </span>
                                                                            </td>
                                                                            <td>
                                                                            <span>
                                                                                {{hab.habitacion.tipoCama}}
                                                                            </span>
                                                                            </td>
                                                                            <td>
                                                                            <span class="status h6 p-4">
                                                                                <span matPrefix>{{getMonedaSimbolo(hab.moneda)}}</span>{{hab.cantidad * hab.costo}}
                                                                            </span>
                                                                            </td>
                                                                            <td>
                                                                                <button mat-button (click)="eliminarHab(hab.idHab, hotelarr)">Borrar Habitacion</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6">
                                                                                <h4>Descripcion Habitacion</h4>
                                                                                <p>{{hab.habitacion.descripcion}}</p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngIf="hab.habitacion.imagenes.length > 0">
                                                                            <td colspan="6">
                                                                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                                                                    <div *ngFor="let image of hab.habitacion.imagenes">
                                                                                        <div
                                                                                            class="product-image" fxlayout="column inline" fxLayoutAlign="center center">
                                                                                            <img class="media" [src]="'data:'+image.type+';base64,'+image.data" style="width: 25vw">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="hotelarr.get('tipoAlimentacion').value.length > 0">
                                                        <td colspan="4">
                                                            <h2>Tipo de Alimentacion</h2>
                                                            <dl>
                                                                <ng-container *ngFor="let tipoalim of hotelarr.get('tipoAlimentacion').value">
                                                                    <dt>{{tipoalim.nombreRegimen}}</dt>
                                                                    <dd>{{tipoalim.descripcion}}</dd>
                                                                </ng-container>
                                                            </dl>

                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="hotelarr.get('servicios').value.length > 0">
                                                        <td colspan="4">
                                                            <h2>Servicios Incluidos</h2>
                                                            <dl>
                                                                <ng-container *ngFor="let servicios of hotelarr.get('servicios').value">
                                                                    <dt>{{servicios.nombre}}</dt>
                                                                    <dd>{{servicios.descripcion}}</dd>
                                                                </ng-container>
                                                            </dl>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="hotelarr.get('noServicios').value.length > 0">
                                                        <td colspan="4">
                                                            <h2>Servicios NO Incluidos</h2>
                                                            <dl>
                                                                <ng-container *ngFor="let nservicios of hotelarr.get('noServicios').value">
                                                                    <dt>{{nservicios.nombre}}</dt>
                                                                </ng-container>
                                                            </dl>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="hotelarr.get('penalidades').value.length > 0">
                                                        <td colspan="4">
                                                            <h2>Penalidades</h2>
                                                            <dl>
                                                                <ng-container *ngFor="let penalidad of hotelarr.get('penalidades').value">
                                                                    <dt>{{penalidad.nombre}}</dt>
                                                                    <dd>{{penalidad.descripcion}}</dd>
                                                                </ng-container>
                                                            </dl>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Planes">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
        </div>
        <!-- CONTENT CARD -->
    </div>
    <!-- CENTER -->
</div>
